<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <title>Регистрация</title>
        <link href="{{ url_for('static', filename='css/styles.css') }}" rel="stylesheet" />
        <link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.ico') }}" type="image/x-icon">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/js/all.min.js" crossorigin="anonymous"></script>
    </head>
    <body class="bg-primary">
        <div id="layoutAuthentication">
            <div id="layoutAuthentication_content">
                <main>
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-lg-5">
                                <div class="card shadow-lg border-0 rounded-lg mt-5">
                                    <div class="card-header"><h3 class="text-center font-weight-light my-4">Регистрация</h3></div>
                                    <div class="card-body">
                                        <form action="/register" method="POST" id="registerForm">
                                            <div id="uname_response"></div>
                                            <div class="form-group">
                                                <input class="form-control py-4" type="text" id="username" name="username" placeholder="Введите логин" required>
                                                <label class="small mb-1"  for="username"></label>
                                            </div>
                                            <div class="form-group">
                                                <input  class="form-control py-4" type="password" name="password" placeholder="Введите пароль" required>
                                                <label class="small mb-1"  for="password"></label>

                                            </div>
                                            <div class="form-group">
                                                <input  class="form-control py-4"  type="password" name="confirmpassword" placeholder="Подтвердите пароль" required>
                                                <label class="small mb-1"  for="confirmpassword"></label>

                                            </div>
                                          
                                            <div class="form-group d-flex align-items-center justify-content-between mt-4 mb-0">
                                                <input class="btn btn-success" id="input_button_register" type="submit" value="Войти">
                                            </div>
                                        </div>
                                        </form>
                                        <div class="text-center">
                                        <a class="small" href="/">Войти</a>
                                      </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </main>
            </div>
        </div>
        <script src="https://code.jquery.com/jquery-3.5.1.min.js" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
        <script src="{{ url_for('static', filename='js/scripts.js') }}"></script>
        <script type="text/javascript">
            $(document).ready(function(){
        $('#username').change( function(e){
        var username = $('#username').val();

        if(username != ''){
  
           $.ajax({
              url: '/checkloginusername',
              type: 'post',
              data: {username: username},
              success: function(response){
                    if (response == "No User"){
                        $('#uname_response').html("");
                        $('#input_button_register').removeAttr('disabled');
                    }else{
                        $('#uname_response').html("Такой логин существует").css({'color':'red', 'text-align':'right'});
                        
                        
                        $('#input_button_register').prop('disabled', true);
                    }
               }
           });
        }else{
           $("#uname_response").html("");
        }
    })
})
        </script>
    </body>
</html>
